name: Docker Image CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches: [ master ]
    
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Test the docker-compose build
      run: docker-compose build
